@import "../../App.scss";

.movies-container {
  display: flex;
  flex-wrap: wrap;
  /* flex-direction: column; */
  justify-content: center;
  margin: auto;
  padding-bottom: 1rem;
  &.no-movie {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .title {
      margin: 3rem 0 1rem;
      text-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
      text-align: center;
    }
  }
}
