@import "../../../App.scss";

.about-section {
  background-color: $clr-primary-10;
  .about-content {
    max-width: 85vw;
    margin: 0 auto;
    h2 {
      text-align: center;
      padding: 3rem 3rem 2rem;
    }

    h4 {
      text-align: center;
      /* text-align: justify;
     text-justify: inter-word; */
    }
  }
}

@media screen and (max-width: 800px) {
  .about-content h2 {
    padding: 1rem;
  }
}
