@import "../../App.scss";
@import "react-alice-carousel/lib/alice-carousel.css";

.alice-carousel,
.alice-carousel__stage {
  width: calc(100vw - 40%) !important;
}

.carousel {
  width: calc(100vw - 40%) !important;
  background-color: $clr-primary-9;
  border-radius: $radius;
  margin-bottom: 0.5rem;
}
.carousel-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  object-fit: contain;
  max-width: 150px;
}

.carousel-img {
  max-width: 200px;
  border-radius: $radius;
  margin-bottom: 5px;
  box-shadow: $light-shadow;
}

@media screen and (max-width: 800px) {
  .carousel {
    min-width: 100%;
  }
}
