@import "../../App.scss";
@import "react-alice-carousel/lib/alice-carousel.css";

.alice-carousel__wrapper {
  width: 50vw !important;
  // display: none;
  background-color: $clr-primary-9;
  border-radius: $radius;
}
.alice-carousel {
  background-color: $clr-primary-9;
  border-radius: $radius;
  margin-bottom: 0.5rem;
}
.carousel-item {
  padding: 10px;
}
.carousel-img {
  border-radius: $radius;
  margin-bottom: 5px;
  box-shadow: $light-shadow;
}

@media screen and (max-width: 800px) {
  .alice-carousel__wrapper {
    width: 100% !important;
  }
}
