@import "../../App.scss";

footer {
  text-transform: capitalize;
  letter-spacing: $spacing;
  height: 3rem;
  background-color: $clr-grey-1;
  color: $clr-grey-7;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  line-height: 1rem;
  a {
    text-decoration: none;
    color: $clr-primary-7;
  }
}

@media screen and (max-width: 800px) {
  footer {
    letter-spacing: 0.1rem;
  }
}
